:81 {
	@transform_port_query {
		query XTransformPort=*
	}

	handle @transform_port_query {
		reverse_proxy localhost:{query.XTransformPort}
	}

	handle /api/* {
		reverse_proxy localhost:3001
	}

	handle {
		reverse_proxy localhost:3000
	}
}
